
  p {
    font-family: 'Courier New', Courier, monospace, sans-serif;
 }
  
 h1 {
    font-family: 'Courier New', Courier, monospace, sans-serif;
 }

 h2 {
    font-family: 'Courier New', Courier, monospace, sans-serif;
 }

 h3 {
   font-family: 'Courier New', Courier, monospace, sans-serif;
}

 ul {
    font-family: 'Courier New', Courier, monospace, sans-serif;
 }


